body {
    margin: 0;
    font-size: 46px;
    text-shadow: 2px 2px #000000;
}
.container {
    width: 100vw;
    display: flex;
}
.panel {
    height: 100vh;
    flex: 1; /*makes each panel a flex item of the same width*/
    background-color: gray;
    display: flex; /*makes each panel a flex container of the <p>'s*/
    flex-direction: column; /*default is horizontally, thus must state column to stack the <p>'s*/
    transition: flex 0.2s,
                font-size 0.5s;
}
p {
    text-transform: uppercase;
    font-family: Papyrus, fantasy, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
}

/*panel children*/
.panel > * {
    margin: 0; /*removes initial margins*/
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center; /*aligns horizontally. Cannot use 'text-align' as <p> does not span entire width of page*/
    align-items: center; /*aligns content vertically*/
}
.panel > *:first-child {
    transform: translateY(-100%);
}
.panel > *:last-child {
    transform: translateY(100%);
}

/*panel emphasis*/
.open {
    flex: 5;
}
.panel.openText > *:nth-child(2) {
    font-size: 150%;
}
.panel.openActive > *:first-child {
    transform: translateY(0);
}
.panel.openActive > *:last-child {
    transform: translateY(0);
}

/*background images*/
.panel1 {
    background-image: url("./panelPics/1.jpg");
}
.panel2 {
    background-image: url("./panelPics/2.jpg");
}
.panel3 {
    background-image: url("./panelPics/3.jpg");
}
.panel4 {
    background-image: url("./panelPics/4.jpg");
}
.panel5 {
    background-image: url("./panelPics/5.jpg");
}